<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/favicon-152-precomposed.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/favicon-144-precomposed.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/favicon-120-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/favicon-114-precomposed.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/favicon-180-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/favicon-72-precomposed.png">   
<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/favicon-57-precomposed.png">
<link rel="icon" sizes="32x32" href="/assets/favicon/favicon-32-precomposed.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/assets/favicon/favicon-144-precomposed.png">
<meta name="theme-color" content="#ffffff">
<link rel="manifest" href="/assets/favicon/manifest.json">
<link rel="icon" sizes="192x192" href="/assets/favicon/favicon-192-precomposed.png">