<style>
    .rumble-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .rumble-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>

<script>!function (r, u, m, b, l, e) { r._Rumble = b, r[b] || (r[b] = function () { (r[b]._ = r[b]._ || []).push(arguments); if (r[b]._.length == 1) { l = u.createElement(m), e = u.getElementsByTagName(m)[0], l.async = 1, l.src = "https://rumble.com/embedJS/u143q5b" + (arguments[1].video ? '.' + arguments[1].video : '') + "/?url=" + encodeURIComponent(location.href) + "&args=" + encodeURIComponent(JSON.stringify([].slice.apply(arguments))), e.parentNode.insertBefore(l, e) } }) }(window, document, "script", "Rumble");</script>

<div class="rumble-wrapper" id="rumble_{{ include.id }}"></div>
<script>
    Rumble("play", { "video": "{{ include.id }}", "div": "rumble_{{ include.id }}" });</script>